@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --mostaza: #dfa213;
  --negro: #2a2929;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between; /* Separa los 3 bloques */
  align-items: center;
  padding: 10px 40px;
  background-color: var(--negro);
  border-bottom: 2px solid var(--mostaza);
  position: fixed; /* Se queda arriba al hacer scroll */
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
}

/* Estilo del Logo */
.navbar-logo {
  justify-content: flex-start;
}

.logo-img {
  height: 35px; /* Lo he subido un poco para que se aprecie mejor el detalle */
  width: 35px;
  
  /* DEGRADADO: De un mostaza claro en el centro a uno más oscuro fuera */
  background: radial-gradient(circle, #dfcb89 0%, #dfa213 70%, #000000 100%);
  
  border-radius: 50%;
  
  /* Al poner poco padding, la imagen de dentro se ve más grande */
  padding: 2px; 
  
  object-fit: contain;
  border: 2px solid #503e02;
  display: block;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3); /* Un brillo sutil opcional */

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; 
  cursor: pointer;
}

.logo-img:hover {
  transform: scale(1.15); 
}


/* Menu */
.navbar-menu {
  flex: 2; /* Le damos un poco más de prioridad de espacio */
  display: flex;
  justify-content: center; /* ¡ESTO lo centra de verdad! */
  list-style: none;
  gap: 40px; /* Más espacio entre opciones para que luzca */
  margin: 0;
  padding: 0;
}

.navbar-menu a, .btn-cat-nav {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

/* Línea mostaza que aparece debajo al pasar el ratón */
.navbar-menu a::after, .btn-cat-nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e1ad01; /* Tu mostaza */
  transition: 0.3s;
}

.navbar-menu a:hover::after,  .btn-cat-nav:hover::after {
  width: 100%;
}

.navbar-menu a:hover,  .btn-cat-nav:hover {
  color: var(--mostaza);
}

.navbar-logo, 
.navbar-idiomas {
  flex: 1; 
  display: flex;
}

/* Idiomas */
.navbar-idiomas {
  justify-content: flex-end;
  gap: 8px;
}

.btn-idioma {
  background: none;
  border: 1px solid var(--mostaza);
  color: var(--mostaza);
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-idioma:hover {
  background-color: var(--mostaza);
  color: black;
}

.btn-idioma.activo {
  background-color: var(--mostaza);
  color: black;
}

/*------------------------------------------------------------------------*/

.inicio-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.462), rgba(0, 0, 0, 0.468)), 
                    url('./assets/Varios/Rincon.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: black;
  min-height: calc(100vh - 60px);
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  box-sizing: border-box;
}

.content {
  width: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inicio-section h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  color: #820808;
  text-shadow: 2px 2px 4px var(--mostaza);
  margin: 0;
  line-height: 1.1;
}

.subtitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 4px;
  color: var(--mostaza);
  text-shadow: 2px 2px 4px #820808;
  margin-top: 80px;
  text-transform: uppercase;
}

.date {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: var(--mostaza);
  text-shadow: 2px 2px 4px #820808;
  font-weight: bold;
}






.sobre-nosotros {
  padding: 80px 20px;
}

.sobre-contenido {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap; /* Para que en móvil se ponga uno debajo de otro */
}

.sobre-texto {
  flex: 1;
  min-width: 300px;
}

.sobre-texto h2 {
  color: #e1ad01;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sobre-texto p {
  color: #ddd;
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.sellos-calidad {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.sellos-calidad span {
  background: rgba(225, 173, 1, 0.1);
  border: 1px solid #e1ad01;
  color: #e1ad01;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
}

.sobre-imagen {
  flex: 1;
  min-width: 300px;
}

.sobre-imagen img {
  width: 100%;
  border-radius: 15px;
  box-shadow: -20px 20px 0px #e1ad01; /* Un detalle decorativo en mostaza */
  object-fit: cover;
}

@media (max-width: 768px) {
  .sobre-imagen {
    order: -1; /* En móviles la foto sale arriba */
  }
  .sobre-texto h2 {
    text-align: center;
  }
}







.info-seccion {
  padding: 30px 20px;
  text-align: center;
}

.info-seccion h2 {
  font-size: 30px;
  color: #ffffff; /* El rojo vino de la marca */
  margin-bottom: 20px;
  position: relative;
  display: inline-block; /* Para que la línea de abajo ocupe solo el ancho del texto */
}

.info-grid {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Mantiene todas las tarjetas con la misma altura */
  gap: 20px;
  max-width: 1300px; /* Aumentamos un poco el total para que la del medio luzca */
  margin: 30px auto;
  width: 95%;
}

.info-card {
  flex: 1; 
  background: #252525;
  padding: 25px;
  border-radius: 15px;
  border-bottom: 4px solid #e1ad01;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-grid .info-card:nth-child(2) {
  flex: 2; /* Ocupa el doble de espacio horizontal */
  min-width: 400px; /* Asegura que no se encoja demasiado */
}

.info-card h3 {
  color: #e1ad01;
  margin-bottom: 15px;
  font-size: 24px;
}

.horario-fila {
  display: flex;
  padding: 10px 0;
  font-size: 0.95rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.turnos p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #ccc;
}

.eventos-intro {
  font-size: 0.9rem;
  margin-top: 20px;
  font-style: italic;
  color: #ccc;
}

.eventos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; /* Alineamos a la izquierda para que los iconos queden rectos */
}

.eventos-lista li {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.glovo-card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.txt-exclusivo {
  font-weight: bold;
  color: #e1ad01; /* Tu color mostaza */
  font-size: 0.85rem !important;
}

.btn-glovo {
  display: inline-block;
  background-color: var(--mostaza);
  color: var(--negro);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s;
  border: none;
}

.btn-glovo:hover {
  transform: scale(1.05);
  background-color: #e1ad01; /* Cambia a tu mostaza al pasar el ratón */
  box-shadow: 0 5px 15px rgba(255, 194, 68, 0.3);
}






.carta-container {
  padding: 30px 20px;
  text-align: center;
}

.carta-container h2 {
  font-size: 30px;
  color: #ffffff; /* El rojo vino de la marca */
  margin-bottom: 20px;
  position: relative;
  display: inline-block; /* Para que la línea de abajo ocupe solo el ancho del texto */
}

/* Botones Estilo Restaurante */
.btn-mostrar {
  background-color: var(--mostaza);
  color: var(--negro);
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-mostrar:hover {
  background-color: var(--mostaza);
  transform: scale(1.03);
}




.btn-cat-nav {
  background: none;
  border: none;
  color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 5px 0px;
  transition: 0.3s;
}

.btn-cat-nav.activo {
  color: var(--mostaza);
}





.carta-container.full-view {
  padding-top: 40px;
  min-height: 100vh;
}

.pizza-grid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre cada carta */
}

.pizza-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; 

  height: 100px;
  min-height: 100px;
}


/* Contenedor de la imagen */
.pizza-image-container {
  width: 120px;
  min-width: 120px;
  height: 100%;
}

.pizza-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Contenedor de la información */
.pizza-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.card-header h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #900707;
  text-transform: uppercase;
}

.precio {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  background-color: #fdf5e6; /* Un fondo crema muy suave para el precio */
  padding: 5px 12px;
  border-radius: 8px;
}

.descripcion {
  margin: 0;
  font-style: italic;
  color: #555;
  line-height: 1.4;
  text-align: left;
    font-size: 1.0rem;
}







/* --- ESTILOS HAMBURGUESA --- */
.hamburger {
  display: none; /* Oculto en PC */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 2000;
  padding: 10px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #ffcc00; /* Tu color mostaza */
  transition: 0.3s;
}

/* --- RESPONSIVE MÓVIL (Media Query) --- */
@media (max-width: 1300px) {
  .hamburger {
    display: flex; /* Aparece en móvil */
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Escondido a la derecha */
    width: 80%;
    height: 100vh;
    padding-top: 100px;
    gap: 30px;                  /* Reduce el espacio entre categorías si están muy separadas */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.886);
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    z-index: 1500;
    overflow-y: auto;
  }

  .navbar-idiomas {
    position: fixed;
    bottom: 50px; /* Los ponemos abajo del todo en el móvil */
    right: -100%;
    width: 80%;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    z-index: 1501;
  }

  .navbar-menu.active,
  .navbar-idiomas.active {
    right: 0; /* Ambos entran a la vez */
  }

  /* Animación de las rayas a X cuando se abre */
  .hamburger.open span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
  .hamburger.open span:nth-child(2) { opacity: 0; }
  .hamburger.open span:nth-child(3) { transform: rotate(-45deg) translate(5px, -7px); }

  .navbar-idiomas.active .btn-idioma {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}






.mapa-seccion {
  text-align: center;
  padding: 50px 20px;
}




.separador-contenedor-negro {
  width: 100%;
  padding: 30px 0; /* Espacio arriba y abajo de la línea */
  display: flex;
  justify-content: center;
}

.separador-mostaza {
  height: 1px;
  background-color: #e1ad01; /* Tu color mostaza */
  margin: 40px 50px; /* 40px arriba/abajo para separar, 50px a los lados */
  border: none;
  /* Esto asegura que el ancho se ajuste restando los 50px de cada lado */
  width: calc(100% - 100px); 
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border-radius: 15px;
  border: 2px solid var(--mostaza);
}

@media (max-width: 900px) {
  .info-grid {
    flex-wrap: wrap;
  }
}


@media (max-width: 768px) {
  .inicio-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.462), rgba(0, 0, 0, 0.468)), 
                    url('./assets/Varios/RinconMovil2.jpeg'); 
    padding-left: 0;
    align-items: center;
    text-align: center;
    background-attachment: scroll; /* El efecto fixed falla en muchos móviles */
  }

  .content {
    margin-left: 0;
    width: 90%; /* Que ocupe casi todo el ancho con un poco de aire a los lados */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inicio-section h1 {
    font-size: 80px; /* Reducimos el tamaño de letra para que no se corte */
  }

  .subtitle {
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  
  .date {
    font-size: 24px;
  }



  .carta-container.full-view {
    padding-top: 20px;
  }

  .pizza-grid {
    width: 100%;
    gap: 15px; /* Espacio entre cada carta */
  }

  .pizza-card {
    height: 80px;
    min-height: 80px;
  }

  .pizza-image-container {
    width: 100px;
    min-width: 100px;
  }

  .pizza-info {
    padding: 15px;
  }

  .card-header {
    margin-bottom: 3px;
  }

  .card-header h3 {
    font-size: 1.0rem;
    color: #900707;
    text-transform: uppercase;
  }

  .precio {
    font-weight: bold;
    font-size: 0.8rem;
    color: #333;
    background-color: #fdf5e6; /* Un fondo crema muy suave para el precio */
    padding: 5px 12px;
    border-radius: 8px;
  }

  .descripcion {
    margin: 0;
    font-style: italic;
    color: #555;
    text-align: left;
    font-size: 0.7rem;
  }
}