.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Reducimos el padding lateral en móvil */
  background-color: #1a1a1a; /* Usa tu variable --negro */
  border-bottom: 2px solid #e1ad01; /* Usa tu variable --mostaza */
  
  /* CAMBIO CLAVE: Usa fixed en vez de sticky */
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  
  height: 75px; /* Dale una altura fija para que no varíe */
  z-index: 1000;
  box-sizing: border-box;
}

/* Estilo del Logo */
.navbar-logo {
  justify-content: flex-start;
}

.logo-img {
  height: 35px;
  width: 35px;
  background: radial-gradient(circle, #dfcb89 0%, #dfa213 70%, #000000 100%);
  border-radius: 50%;
  padding: 2px; 
  
  object-fit: contain;
  border: 2px solid #503e02;
  display: block;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3); /* Un brillo sutil opcional */

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; 
  cursor: pointer;
}

.logo-img:hover {
  transform: scale(1.15); 
}

.navbar-menu {
  flex: 2; /* Le damos un poco más de prioridad de espacio */
  display: flex;
  justify-content: center; /* ¡ESTO lo centra de verdad! */
  list-style: none;
  gap: 40px; /* Más espacio entre opciones para que luzca */
  margin: 0;
  padding: 0;
}

.navbar-menu a, .btn-cat-nav {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

/* Línea mostaza que aparece debajo al pasar el ratón */
.navbar-menu a::after, .btn-cat-nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e1ad01; /* Tu mostaza */
  transition: 0.3s;
}

.navbar-menu a:hover::after,  .btn-cat-nav:hover::after {
  width: 100%;
}

.navbar-menu a:hover,  .btn-cat-nav:hover {
  color: var(--mostaza);
}

.navbar-logo, 
.navbar-idiomas {
  flex: 1; 
  display: flex;
}

.navbar-idiomas {
  justify-content: flex-end;
  gap: 8px;
}

.btn-idioma {
  background: none;
  border: 1px solid var(--mostaza);
  color: var(--mostaza);
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-idioma:hover {
  background-color: var(--mostaza);
  color: black;
}

.btn-idioma.activo {
  background-color: var(--mostaza);
  color: black;
}

.hamburger {
  display: none; /* Oculto en PC */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 2000;
  padding: 10px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #ffcc00; /* Tu color mostaza */
  transition: 0.3s;
}


.navbar-mobile-background {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.886);
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.4s;
}

.navbar-mobile-sections {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.navbar-mobile-sections-home {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.navbar-mobile-space {
    margin-top: 6%;
}

.navbar-mobile-sections .btn-cat-nav {
    flex: 1;
}
.navbar-mobile-sections-home .btn-cat-nav {
    flex: 1;
}

.navbar-mobile-idiomas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 14%;
}
.btn-cat-nav.inicio {
    border-bottom: 1px solid var(--mostaza);
    padding-bottom: 5%;
    margin-bottom: 2%;
}
.navbar-mobile-background.active {
  right: 0; /* O usa transform: translateX(-100%) si prefieres */
}

@media (max-height: 500px) {
  .navbar-mobile-sections {
      display: grid;
      /* Se adapta al ancho: si caben dos botones de 140px, los pone, si no, uno */
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      
      grid-auto-rows: min-content; 
      
      justify-content: center;
      align-content: start; 
      
      gap: 15px;
  }

  .navbar-mobile-sections-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 5%;
  }

  .btn-cat-nav {
      height: 60px; /* Altura fija para que el grid sea simétrico */
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media (min-width: 1301px) {
  .navbar-mobile-background {
    display: none;
  }
}

/* --- RESPONSIVE MÓVIL (Media Query) --- */
@media (max-width: 1300px) {
  .hamburger {
    display: flex; /* Aparece en móvil */
  }

  .navbar-menu {
    display: none;
  }
  .navbar-idiomas {
    display: none;
  }

  .navbar-menu.active {
    right: 0; /* Ambos entran a la vez */
  }

  

  /* Animación de las rayas a X cuando se abre */
  .hamburger.open span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
  .hamburger.open span:nth-child(2) { opacity: 0; }
  .hamburger.open span:nth-child(3) { transform: rotate(-45deg) translate(5px, -7px); }


  .navbar-idiomas.active .btn-idioma {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}